google==3.0.0
greenaddress @ https://github.com/Blockstream/gdk/releases/download/release_0.0.56/greenaddress-0.0.56-cp39-cp39-linux_x86_64.whl
./wallycore-0.8.5-cp39-cp39-linux_x86_64.whl # todo: request from github
pytest
pytest-asyncio
protobuf==3.19.3
grpcio==1.43.0
grpcio-tools==1.43.0